#about section:first-of-type {
        color: var(--color-light);
    blockquote {
        color: var(--color-light);
    }
    h2 {
        color: var(--color-background);
    }
    a {
        color: var(--color-green);
    }
}
#about section:nth-of-type(2) {
    color: var(--color-light);
    a {
        color: var(--color-blue)
    }
}
#guidelines {
    color: var(--color-light);
    a {
        color: var(--color-purple);
    }
}
#contribute {
    color: var(--color-light);
    a {
        color: var(--color-red)
    }
}
#files a{
    color: var(--color-green);
}
#files a:hover:not(.link-codepen) ,
#files a:focus:not(.link-codepen)  {
    box-shadow: 0.3em 0.3em var(--color-green);
}

