@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
:root {
  --color-primary: #FFFF00;
  --color-primary-alt: #fff;
  --color-secondary: #fe0000;
  --color-background: #000;
  --color-text: #4deeea;
  --color-light: #fff;
  --color-link: #FFFF00;
  --color-green: #39FF14;
  --color-gray: #181818;
  --color-blue: #4deeea;
  --color-purple: #BF00FF;
  --color-red: #fe0000;
  --color-anchor: #FFFF00;
  --font-family: "audiowide", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

p {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.5em;
  border-radius: 0.5em;
}

#main h2 {
  width: 90vw;
  position: relative;
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
}

#about > .container {
  display: flex;
}
#about > .container p {
  z-index: 1;
}
#about > .container:nth-of-type(2n-1) h2 {
  position: relative;
  transform: translateX(10vw);
  text-align: left;
  background-color: var(--color-green);
  border-radius: 2em 0 0 2em;
  box-shadow: 0 0 10px #ffffff, 0 0 20px var(--color-green), 0 0 30px var(--color-green);
}
#about > .container:nth-of-type(2n-1) h2::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 85%;
  width: 20px;
  height: 800px;
  border-radius: 2rem;
  background-color: var(--color-secondary);
  transform: rotate(10deg);
  z-index: -1;
  box-shadow: 0 0 10px #ffffff, 0 0 20px var(--color-secondary), 0 0 30px var(--color-secondary);
}

#about > .container:nth-of-type(2n) h2, #contribute > .container h2 {
  transform: translateX(-10vw);
  text-align: right;
  background-color: var(--color-blue);
  border-radius: 0 2em 2em 0;
  box-shadow: 0 0 10px #ffffff, 0 0 20px var(--color-blue), 0 0 30px var(--color-blue);
}

#guidelines > .container p {
  z-index: 1;
}
#guidelines > .container h2 {
  background-color: var(--color-purple);
  transform: translateX(10vw);
  text-align: left;
  border-radius: 2em 0 0 2em;
  z-index: 1;
  box-shadow: 0 0 10px #ffffff, 0 0 20px var(--color-purple), 0 0 30px var(--color-purple);
}
#guidelines > .container h2::before {
  content: "";
  position: absolute;
  top: -200px;
  left: -5%;
  width: 20px;
  height: 800px;
  border-radius: 2rem;
  background-color: var(--color-green);
  transform: rotate(-15deg);
  z-index: -1;
}

#contribute > .container h2 {
  transform: translateX(-10vw);
  text-align: right;
  background-color: var(--color-red);
  border-radius: 0 2em 2em 0;
  box-shadow: 0 0 10px #ffffff, 0 0 20px var(--color-red), 0 0 30px var(--color-red);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
}
blockquote p strong {
  font-size: 1.15em;
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}
body::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  animation: twinkle 1s infinite ease-in-out alternate;
  box-shadow: 82vw 647vh 0px 1px yellow, 79vw 72vh 0px 2px yellow, 99vw 398vh 0px 2px yellow, 20vw 226vh 0px 1px yellow, 31vw 328vh 0px 1px yellow, 61vw 421vh 0px 2px yellow, 15vw 553vh 0px 2px yellow, 60vw 402vh 0px 1px yellow, 27vw 184vh 0px 1px yellow, 16vw 474vh 0px 2px yellow, 4vw 476vh 0px 2px yellow, 37vw 338vh 0px 1px yellow, 19vw 75vh 0px 2px yellow, 71vw 114vh 0px 1px yellow, 89vw 19vh 0px 1px yellow, 31vw 602vh 0px 1px yellow, 7vw 683vh 0px 2px yellow, 33vw 562vh 0px 2px yellow, 94vw 152vh 0px 2px yellow, 91vw 415vh 0px 2px yellow, 53vw 108vh 0px 1px yellow, 100vw 23vh 0px 1px yellow, 43vw 692vh 0px 1px yellow, 90vw 362vh 0px 2px yellow, 87vw 26vh 0px 1px yellow, 40vw 252vh 0px 1px yellow, 19vw 365vh 0px 1px yellow, 73vw 560vh 0px 2px yellow, 62vw 336vh 0px 2px yellow, 91vw 558vh 0px 1px yellow, 55vw 687vh 0px 2px yellow, 75vw 205vh 0px 2px yellow, 62vw 301vh 0px 2px yellow, 48vw 51vh 0px 1px yellow, 64vw 264vh 0px 2px yellow, 49vw 312vh 0px 2px yellow, 5vw 385vh 0px 2px yellow, 64vw 471vh 0px 2px yellow, 33vw 106vh 0px 1px yellow, 19vw 45vh 0px 2px yellow, 85vw 14vh 0px 1px yellow, 13vw 197vh 0px 1px yellow, 17vw 534vh 0px 2px yellow, 4vw 489vh 0px 2px yellow, 82vw 594vh 0px 2px yellow, 84vw 155vh 0px 2px yellow, 24vw 375vh 0px 1px yellow, 97vw 278vh 0px 2px yellow, 66vw 312vh 0px 1px yellow, 11vw 487vh 0px 2px yellow, 15vw 140vh 0px 1px yellow, 90vw 563vh 0px 1px yellow, 95vw 6vh 0px 2px yellow, 26vw 470vh 0px 1px yellow, 56vw 119vh 0px 2px yellow, 97vw 657vh 0px 1px yellow, 69vw 391vh 0px 1px yellow, 65vw 483vh 0px 1px yellow, 51vw 236vh 0px 1px yellow, 85vw 562vh 0px 2px yellow, 62vw 159vh 0px 1px yellow, 80vw 295vh 0px 2px yellow, 47vw 682vh 0px 2px yellow, 50vw 40vh 0px 1px yellow, 28vw 150vh 0px 2px yellow, 61vw 160vh 0px 1px yellow, 99vw 223vh 0px 2px yellow, 79vw 47vh 0px 1px yellow, 57vw 487vh 0px 1px yellow, 74vw 270vh 0px 2px yellow, 12vw 395vh 0px 2px yellow, 8vw 358vh 0px 1px yellow, 47vw 299vh 0px 1px yellow, 29vw 332vh 0px 2px yellow, 34vw 582vh 0px 1px yellow, 17vw 231vh 0px 2px yellow, 65vw 94vh 0px 2px yellow, 9vw 517vh 0px 1px yellow, 52vw 78vh 0px 1px yellow, 97vw 178vh 0px 1px yellow, 1vw 582vh 0px 2px yellow, 49vw 54vh 0px 1px yellow, 67vw 220vh 0px 2px yellow, 63vw 487vh 0px 2px yellow, 31vw 30vh 0px 1px yellow, 62vw 101vh 0px 2px yellow, 78vw 537vh 0px 2px yellow, 31vw 475vh 0px 1px yellow, 71vw 230vh 0px 2px yellow, 6vw 436vh 0px 1px yellow, 15vw 554vh 0px 2px yellow, 32vw 16vh 0px 1px yellow, 2vw 465vh 0px 1px yellow, 50vw 569vh 0px 2px yellow, 14vw 312vh 0px 2px yellow, 29vw 124vh 0px 2px yellow, 86vw 246vh 0px 2px yellow, 37vw 419vh 0px 2px yellow, 18vw 409vh 0px 1px yellow, 78vw 365vh 0px 2px yellow, 91vw 281vh 0px 1px yellow, 97vw 236vh 0px 1px yellow, 5vw 466vh 0px 1px yellow, 12vw 667vh 0px 2px yellow, 91vw 405vh 0px 2px yellow, 44vw 268vh 0px 2px yellow, 26vw 73vh 0px 1px yellow, 42vw 47vh 0px 1px yellow, 91vw 618vh 0px 1px yellow, 89vw 202vh 0px 1px yellow, 72vw 61vh 0px 2px yellow, 9vw 73vh 0px 1px yellow, 81vw 437vh 0px 1px yellow, 35vw 302vh 0px 1px yellow, 71vw 534vh 0px 1px yellow, 95vw 578vh 0px 1px yellow, 76vw 209vh 0px 2px yellow, 16vw 34vh 0px 2px yellow, 27vw 691vh 0px 1px yellow, 79vw 499vh 0px 1px yellow, 72vw 310vh 0px 1px yellow, 96vw 543vh 0px 2px yellow, 16vw 640vh 0px 1px yellow, 53vw 502vh 0px 2px yellow, 33vw 629vh 0px 1px yellow, 43vw 114vh 0px 2px yellow, 71vw 463vh 0px 2px yellow, 77vw 132vh 0px 2px yellow, 50vw 432vh 0px 1px yellow, 49vw 450vh 0px 2px yellow, 75vw 192vh 0px 1px yellow, 53vw 96vh 0px 2px yellow, 65vw 386vh 0px 2px yellow, 76vw 122vh 0px 1px yellow, 80vw 679vh 0px 1px yellow, 5vw 185vh 0px 1px yellow, 48vw 270vh 0px 2px yellow, 81vw 209vh 0px 2px yellow, 4vw 161vh 0px 1px yellow, 31vw 400vh 0px 2px yellow, 83vw 655vh 0px 2px yellow, 8vw 434vh 0px 2px yellow, 90vw 219vh 0px 1px yellow, 17vw 641vh 0px 2px yellow, 68vw 532vh 0px 2px yellow, 19vw 413vh 0px 2px yellow, 29vw 289vh 0px 1px yellow, 94vw 240vh 0px 2px yellow, 21vw 179vh 0px 1px yellow, 8vw 547vh 0px 1px yellow, 48vw 264vh 0px 2px yellow, 83vw 66vh 0px 1px yellow, 82vw 569vh 0px 2px yellow, 13vw 2vh 0px 1px yellow, 96vw 375vh 0px 2px yellow, 57vw 424vh 0px 1px yellow, 5vw 535vh 0px 2px yellow, 15vw 451vh 0px 1px yellow, 48vw 36vh 0px 1px yellow, 84vw 666vh 0px 1px yellow, 67vw 335vh 0px 1px yellow, 81vw 576vh 0px 1px yellow, 28vw 13vh 0px 1px yellow, 81vw 176vh 0px 1px yellow, 68vw 271vh 0px 2px yellow, 20vw 254vh 0px 2px yellow, 59vw 166vh 0px 1px yellow, 28vw 596vh 0px 1px yellow, 80vw 208vh 0px 2px yellow, 14vw 146vh 0px 2px yellow, 8vw 318vh 0px 2px yellow, 38vw 261vh 0px 1px yellow, 75vw 437vh 0px 1px yellow, 95vw 396vh 0px 2px yellow, 8vw 496vh 0px 1px yellow, 81vw 399vh 0px 1px yellow, 31vw 382vh 0px 1px yellow, 40vw 234vh 0px 1px yellow, 5vw 295vh 0px 2px yellow, 19vw 180vh 0px 2px yellow, 93vw 249vh 0px 2px yellow, 64vw 340vh 0px 1px yellow, 98vw 176vh 0px 2px yellow, 69vw 66vh 0px 1px yellow, 52vw 439vh 0px 1px yellow, 46vw 640vh 0px 1px yellow, 5vw 118vh 0px 2px yellow, 16vw 328vh 0px 1px yellow, 68vw 582vh 0px 1px yellow, 33vw 404vh 0px 2px yellow, 14vw 497vh 0px 1px yellow, 29vw 347vh 0px 1px yellow, 74vw 195vh 0px 2px yellow, 57vw 671vh 0px 1px yellow, 33vw 356vh 0px 2px yellow, 94vw 563vh 0px 2px yellow, 55vw 106vh 0px 2px yellow, 65vw 101vh 0px 1px yellow, 85vw 425vh 0px 2px yellow, 69vw 439vh 0px 1px yellow, 5vw 234vh 0px 1px yellow, 23vw 480vh 0px 2px yellow, 18vw 139vh 0px 2px yellow, 8vw 21vh 0px 2px yellow, 24vw 281vh 0px 1px yellow, 25vw 241vh 0px 1px yellow, 20vw 317vh 0px 1px yellow, 60vw 8vh 0px 2px yellow, 53vw 421vh 0px 2px yellow, 36vw 147vh 0px 1px yellow, 97vw 413vh 0px 1px yellow, 63vw 563vh 0px 2px yellow, 89vw 26vh 0px 2px yellow, 95vw 579vh 0px 1px yellow, 17vw 672vh 0px 1px yellow, 73vw 147vh 0px 2px yellow, 84vw 22vh 0px 1px yellow, 44vw 248vh 0px 2px yellow, 100vw 324vh 0px 1px yellow, 76vw 363vh 0px 1px yellow, 24vw 298vh 0px 1px yellow, 81vw 274vh 0px 1px yellow, 95vw 499vh 0px 2px yellow, 15vw 225vh 0px 1px yellow, 72vw 487vh 0px 2px yellow, 97vw 95vh 0px 1px yellow, 44vw 633vh 0px 1px yellow, 72vw 539vh 0px 1px yellow, 77vw 75vh 0px 2px yellow, 95vw 358vh 0px 2px yellow, 37vw 360vh 0px 2px yellow, 23vw 400vh 0px 1px yellow, 96vw 67vh 0px 2px yellow, 69vw 8vh 0px 1px yellow, 92vw 615vh 0px 2px yellow, 59vw 131vh 0px 2px yellow, 11vw 139vh 0px 2px yellow, 48vw 179vh 0px 2px yellow, 40vw 456vh 0px 2px yellow, 6vw 447vh 0px 2px yellow, 53vw 49vh 0px 1px yellow, 70vw 675vh 0px 1px yellow, 78vw 51vh 0px 2px yellow, 20vw 390vh 0px 1px yellow, 100vw 163vh 0px 1px yellow, 74vw 468vh 0px 1px yellow, 18vw 600vh 0px 1px yellow, 2vw 123vh 0px 1px yellow, 51vw 440vh 0px 2px yellow, 20vw 676vh 0px 1px yellow, 100vw 614vh 0px 2px yellow, 63vw 522vh 0px 2px yellow, 84vw 243vh 0px 1px yellow, 37vw 638vh 0px 1px yellow, 93vw 455vh 0px 1px yellow, 17vw 128vh 0px 2px yellow, 22vw 497vh 0px 2px yellow, 14vw 411vh 0px 1px yellow, 24vw 221vh 0px 1px yellow, 2vw 575vh 0px 2px yellow, 52vw 198vh 0px 2px yellow, 43vw 592vh 0px 2px yellow, 20vw 101vh 0px 1px yellow, 9vw 423vh 0px 2px yellow, 23vw 366vh 0px 2px yellow, 5vw 30vh 0px 1px yellow, 77vw 527vh 0px 1px yellow, 51vw 271vh 0px 2px yellow, 27vw 91vh 0px 2px yellow, 3vw 177vh 0px 1px yellow, 19vw 252vh 0px 2px yellow, 77vw 493vh 0px 1px yellow, 10vw 430vh 0px 1px yellow, 71vw 315vh 0px 2px yellow, 15vw 579vh 0px 1px yellow, 8vw 544vh 0px 2px yellow, 14vw 156vh 0px 2px yellow, 26vw 604vh 0px 2px yellow, 45vw 221vh 0px 2px yellow, 42vw 454vh 0px 2px yellow, 99vw 162vh 0px 1px yellow, 64vw 670vh 0px 2px yellow, 61vw 178vh 0px 2px yellow, 36vw 6vh 0px 2px yellow, 11vw 630vh 0px 1px yellow, 64vw 316vh 0px 2px yellow, 24vw 625vh 0px 2px yellow, 4vw 442vh 0px 2px yellow, 51vw 576vh 0px 2px yellow, 3vw 321vh 0px 1px yellow, 61vw 246vh 0px 1px yellow, 34vw 434vh 0px 1px yellow, 7vw 610vh 0px 2px yellow, 11vw 298vh 0px 1px yellow, 13vw 292vh 0px 2px yellow, 65vw 9vh 0px 1px yellow, 30vw 536vh 0px 2px yellow, 88vw 150vh 0px 1px yellow, 20vw 397vh 0px 2px yellow, 5vw 168vh 0px 1px yellow, 79vw 621vh 0px 1px yellow, 48vw 38vh 0px 2px yellow, 20vw 257vh 0px 2px yellow, 61vw 386vh 0px 1px yellow, 100vw 645vh 0px 2px yellow, 21vw 64vh 0px 1px yellow, 77vw 166vh 0px 1px yellow, 53vw 5vh 0px 2px yellow, 36vw 24vh 0px 2px yellow, 99vw 428vh 0px 1px yellow, 80vw 187vh 0px 1px yellow, 92vw 529vh 0px 1px yellow, 98vw 101vh 0px 2px yellow, 89vw 86vh 0px 2px yellow, 18vw 463vh 0px 2px yellow, 92vw 542vh 0px 2px yellow, 51vw 514vh 0px 1px yellow, 39vw 308vh 0px 2px yellow, 72vw 70vh 0px 1px yellow, 81vw 47vh 0px 1px yellow, 9vw 332vh 0px 1px yellow, 87vw 439vh 0px 2px yellow, 68vw 8vh 0px 2px yellow, 22vw 477vh 0px 1px yellow, 8vw 494vh 0px 2px yellow, 62vw 187vh 0px 1px yellow, 33vw 224vh 0px 2px yellow, 21vw 47vh 0px 1px yellow, 29vw 572vh 0px 1px yellow, 12vw 39vh 0px 2px yellow, 91vw 498vh 0px 1px yellow, 24vw 387vh 0px 2px yellow, 70vw 450vh 0px 1px yellow, 34vw 201vh 0px 1px yellow, 32vw 506vh 0px 1px yellow, 64vw 476vh 0px 2px yellow, 66vw 476vh 0px 2px yellow, 14vw 34vh 0px 2px yellow, 85vw 142vh 0px 2px yellow, 80vw 269vh 0px 1px yellow, 96vw 119vh 0px 2px yellow, 58vw 140vh 0px 1px yellow, 48vw 625vh 0px 1px yellow, 29vw 562vh 0px 1px yellow, 3vw 199vh 0px 1px yellow, 85vw 403vh 0px 2px yellow, 85vw 340vh 0px 1px yellow, 16vw 367vh 0px 1px yellow, 39vw 616vh 0px 2px yellow, 37vw 674vh 0px 2px yellow, 89vw 420vh 0px 2px yellow, 4vw 351vh 0px 1px yellow, 44vw 362vh 0px 1px yellow, 81vw 500vh 0px 2px yellow, 79vw 247vh 0px 2px yellow, 57vw 530vh 0px 2px yellow, 10vw 298vh 0px 1px yellow, 20vw 660vh 0px 2px yellow, 88vw 694vh 0px 2px yellow, 94vw 380vh 0px 1px yellow, 66vw 214vh 0px 1px yellow, 38vw 635vh 0px 1px yellow, 73vw 417vh 0px 2px yellow, 76vw 543vh 0px 1px yellow, 11vw 216vh 0px 1px yellow, 64vw 201vh 0px 1px yellow, 20vw 567vh 0px 2px yellow, 62vw 637vh 0px 1px yellow, 57vw 135vh 0px 2px yellow, 44vw 298vh 0px 2px yellow, 38vw 264vh 0px 2px yellow, 86vw 149vh 0px 1px yellow, 18vw 373vh 0px 2px yellow, 21vw 164vh 0px 1px yellow, 87vw 460vh 0px 2px yellow, 15vw 369vh 0px 2px yellow, 11vw 176vh 0px 2px yellow, 62vw 141vh 0px 1px yellow, 99vw 662vh 0px 1px yellow, 32vw 232vh 0px 2px yellow, 67vw 444vh 0px 2px yellow, 81vw 218vh 0px 1px yellow, 78vw 554vh 0px 1px yellow, 84vw 462vh 0px 2px yellow, 17vw 384vh 0px 1px yellow, 24vw 486vh 0px 2px yellow, 91vw 157vh 0px 2px yellow, 93vw 30vh 0px 2px yellow, 44vw 267vh 0px 1px yellow, 61vw 685vh 0px 1px yellow, 18vw 32vh 0px 2px yellow, 33vw 641vh 0px 1px yellow, 96vw 421vh 0px 1px yellow, 65vw 273vh 0px 2px yellow, 16vw 32vh 0px 1px yellow, 24vw 210vh 0px 2px yellow, 91vw 680vh 0px 2px yellow, 3vw 49vh 0px 1px yellow, 33vw 456vh 0px 2px yellow, 95vw 169vh 0px 1px yellow;
}

@keyframes twinkle {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
main {
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-red);
}

article section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem 0;
  color: var(--color-light);
  text-align: center;
}
header h2 {
  max-width: 30ch;
}

nav {
  order: -1;
  top: 0;
  width: 100%;
  display: inline-flex;
  background-color: var(--color-background);
}
nav ul {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-link);
  font-size: 1.25rem;
  text-decoration: none;
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 1;
}
nav ul li {
  margin: 0.25rem;
}

#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-blue);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.7em 0.7em;
  border-radius: 0.2em;
  background-color: var(--color-blue);
  color: var(--color-background);
}

#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-light), var(--color-purple));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }
}
#guidelines .container > a {
  align-self: center;
}

#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}
#files h3 {
  height: 0;
  opacity: 0;
}
#files .container {
  display: inline-block;
  padding: 5vmin;
  outline: 4px dashed var(--color-green);
  text-align: center;
}
#files .container a:not(:last-child) {
  margin: 0.5rem;
}
#files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
#files a {
  color: var(--color-green);
}

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
}
.features li {
  display: grid;
  position: relative;
  place-content: center;
  min-height: 12rem;
  padding: 1rem;
  color: var(--color-light);
  text-align: center;
}
.features li > span {
  display: grid;
  place-content: center;
  padding: 0.5em;
  grid-gap: 0.5rem;
  border: 1px solid var(--color-light);
  background-color: var(--color-purple);
  line-height: 1.1;
}
.features li > span a {
  color: inherit;
  font-size: 1.3rem;
  font-weight: var(--font-weight-strong);
  text-decoration: none;
}
.features li > span a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.features li > span span:nth-child(2) {
  position: relative;
}

#styles {
  margin: 5vh 0 20vh;
  text-align: center;
}
#styles h2 {
  color: var(--color-light);
}

#styles .features li,
.features.patterned li {
  border: solid 2px var(--color-purple);
}
@media (min-width: 515px) and (max-width: 765px) {
  #styles .features li:nth-last-child(1):nth-child(odd),
.features.patterned li:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  z-index: 1;
  color: var(--color-light);
}
.profile h4 {
  margin: 0;
  color: var(--color-light);
  text-align: center;
}
.profile a:hover:not(.profile span a),
.profile a:focus:not(.profile span a) {
  box-shadow: 0.3em 0.3em var(--color-blue);
}
.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.profile .container > a {
  min-height: 2em;
  border: 2px solid currentColor;
  color: var(--color-blue);
}
.profile .container a {
  color: var(--color-blue);
}
.profile ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile ul li {
  display: flex;
  padding: 0.45em;
}
.profile ul li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.profile ul li span:nth-child(2) {
  flex-grow: 1;
  word-break: break-word;
}
@media (min-width: 180ch) {
  .profile {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: var(--border-radius);
    border: solid 2px var(--color-blue);
    background-color: var(--color-background);
    box-shadow: 0 2px 5px rgba(255, 255, 0, 0.15);
  }
  .profile ul {
    justify-content: unset;
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul li span:nth-child(1) {
    width: 8ch;
    margin-right: 0;
  }
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background: linear-gradient(var(--color-background), var(--color-gray), var(--color-background));
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer a {
  color: var(--color-link);
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
[class^=link]:not(.link-codepen):hover, [class^=link]:not(.link-codepen):focus,
.profile .container > a:hover,
.profile .container > a:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-link);
}
[class^=link]:not(.link-codepen):focus,
.profile .container > a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: var(--font-size-h4);
}

.link-allstyles {
  font-size: var(--font-size-h4);
  color: var(--color-purple);
}
.link-allstyles:hover, .link-allstyles:focus {
  box-shadow: 0.3em 0.3em var(--color-purple) !important;
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

#about section:first-of-type {
  color: var(--color-light);
}
#about section:first-of-type blockquote {
  color: var(--color-light);
}
#about section:first-of-type h2 {
  color: var(--color-background);
}
#about section:first-of-type a {
  color: var(--color-green);
}

#about section:nth-of-type(2) {
  color: var(--color-light);
}
#about section:nth-of-type(2) a {
  color: var(--color-blue);
}

#guidelines {
  color: var(--color-light);
}
#guidelines a {
  color: var(--color-purple);
}

#contribute {
  color: var(--color-light);
}
#contribute a {
  color: var(--color-red);
}

#files a {
  color: var(--color-green);
}

#files a:hover:not(.link-codepen),
#files a:focus:not(.link-codepen) {
  box-shadow: 0.3em 0.3em var(--color-green);
}
