@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
:root {
  --color-primary: #FFFF00;
  --color-primary-alt: #fff;
  --color-secondary: #fe0000;
  --color-background: #000;
  --color-text: #4deeea;
  --color-light: #fff;
  --color-link: #FFFF00;
  --color-green: #39FF14;
  --color-gray: rgb(23.6, 23.6, 23.6);
  --color-blue: #4deeea;
  --color-purple: #BF00FF;
  --color-red: #fe0000;
  --color-anchor: #FFFF00;
  --font-family: "audiowide", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  width: 90vw;
  position: relative;
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
  border-radius: 2rem;
}

#about > .container:nth-of-type(2n-1) h2 {
  transform: translateX(10vw);
  text-align: left;
  background-color: var(--color-green);
}

#about > .container:nth-of-type(2n) h2, #contribute > .container h2 {
  transform: translateX(-10vw);
  text-align: right;
  background-color: var(--color-blue);
}

#guidelines > .container h2 {
  background-color: var(--color-purple);
  transform: translateX(10vw);
  text-align: left;
}

#contribute > .container h2 {
  transform: translateX(-10vw);
  text-align: right;
  background-color: var(--color-red);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
}
blockquote p strong {
  font-size: 1.15em;
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

body {
  background-image: url("../olena-bohovyk-6FdG9OL6JLI-unsplash.jpg");
  color: var(--color-text);
  font-family: var(--font-family);
}
body::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  animation: twinkle 1s infinite ease-in-out alternate;
  box-shadow: 25vw 191vh 0px 2px yellow, 6vw 336vh 0px 2px yellow, 54vw 10vh 0px 1px yellow, 74vw 467vh 0px 1px yellow, 27vw 323vh 0px 1px yellow, 43vw 140vh 0px 1px yellow, 30vw 108vh 0px 1px yellow, 80vw 587vh 0px 1px yellow, 95vw 700vh 0px 2px yellow, 66vw 291vh 0px 2px yellow, 83vw 231vh 0px 1px yellow, 35vw 96vh 0px 1px yellow, 73vw 521vh 0px 1px yellow, 67vw 71vh 0px 2px yellow, 61vw 429vh 0px 2px yellow, 94vw 582vh 0px 1px yellow, 97vw 630vh 0px 2px yellow, 66vw 351vh 0px 1px yellow, 66vw 293vh 0px 2px yellow, 45vw 145vh 0px 2px yellow, 12vw 125vh 0px 1px yellow, 52vw 10vh 0px 2px yellow, 15vw 129vh 0px 2px yellow, 99vw 645vh 0px 2px yellow, 57vw 391vh 0px 2px yellow, 69vw 29vh 0px 1px yellow, 2vw 276vh 0px 2px yellow, 12vw 102vh 0px 1px yellow, 68vw 9vh 0px 2px yellow, 24vw 446vh 0px 2px yellow, 99vw 221vh 0px 1px yellow, 50vw 281vh 0px 1px yellow, 20vw 650vh 0px 1px yellow, 27vw 417vh 0px 1px yellow, 14vw 540vh 0px 1px yellow, 94vw 698vh 0px 1px yellow, 43vw 474vh 0px 2px yellow, 25vw 599vh 0px 1px yellow, 48vw 80vh 0px 1px yellow, 67vw 58vh 0px 2px yellow, 54vw 221vh 0px 2px yellow, 33vw 684vh 0px 1px yellow, 9vw 597vh 0px 1px yellow, 92vw 666vh 0px 2px yellow, 10vw 166vh 0px 2px yellow, 56vw 400vh 0px 1px yellow, 18vw 95vh 0px 1px yellow, 88vw 105vh 0px 2px yellow, 1vw 360vh 0px 1px yellow, 29vw 303vh 0px 1px yellow, 69vw 17vh 0px 1px yellow, 89vw 208vh 0px 2px yellow, 8vw 335vh 0px 2px yellow, 12vw 334vh 0px 2px yellow, 58vw 441vh 0px 2px yellow, 6vw 629vh 0px 2px yellow, 89vw 91vh 0px 1px yellow, 7vw 384vh 0px 2px yellow, 87vw 331vh 0px 2px yellow, 17vw 58vh 0px 1px yellow, 46vw 466vh 0px 2px yellow, 34vw 393vh 0px 2px yellow, 26vw 41vh 0px 2px yellow, 50vw 567vh 0px 1px yellow, 75vw 675vh 0px 1px yellow, 92vw 612vh 0px 2px yellow, 57vw 303vh 0px 2px yellow, 84vw 242vh 0px 2px yellow, 71vw 633vh 0px 2px yellow, 16vw 582vh 0px 2px yellow, 36vw 266vh 0px 2px yellow, 19vw 167vh 0px 2px yellow, 3vw 97vh 0px 2px yellow, 64vw 454vh 0px 1px yellow, 73vw 456vh 0px 1px yellow, 16vw 447vh 0px 1px yellow, 30vw 191vh 0px 1px yellow, 56vw 151vh 0px 2px yellow, 23vw 562vh 0px 1px yellow, 41vw 130vh 0px 1px yellow, 48vw 90vh 0px 1px yellow, 49vw 346vh 0px 1px yellow, 56vw 487vh 0px 2px yellow, 74vw 124vh 0px 2px yellow, 17vw 59vh 0px 1px yellow, 89vw 231vh 0px 2px yellow, 92vw 286vh 0px 2px yellow, 100vw 589vh 0px 1px yellow, 7vw 669vh 0px 2px yellow, 3vw 441vh 0px 2px yellow, 56vw 565vh 0px 2px yellow, 38vw 135vh 0px 2px yellow, 9vw 66vh 0px 2px yellow, 62vw 527vh 0px 2px yellow, 28vw 464vh 0px 1px yellow, 39vw 678vh 0px 2px yellow, 98vw 529vh 0px 1px yellow, 99vw 588vh 0px 2px yellow, 38vw 322vh 0px 1px yellow, 82vw 244vh 0px 1px yellow, 70vw 378vh 0px 2px yellow, 94vw 402vh 0px 2px yellow, 17vw 50vh 0px 2px yellow, 23vw 215vh 0px 1px yellow, 22vw 570vh 0px 1px yellow, 35vw 438vh 0px 2px yellow, 35vw 556vh 0px 2px yellow, 97vw 26vh 0px 2px yellow, 86vw 561vh 0px 2px yellow, 38vw 498vh 0px 2px yellow, 44vw 2vh 0px 2px yellow, 93vw 443vh 0px 2px yellow, 57vw 572vh 0px 2px yellow, 81vw 153vh 0px 1px yellow, 78vw 525vh 0px 1px yellow, 39vw 103vh 0px 2px yellow, 66vw 212vh 0px 1px yellow, 42vw 647vh 0px 2px yellow, 9vw 73vh 0px 1px yellow, 92vw 700vh 0px 1px yellow, 40vw 335vh 0px 1px yellow, 57vw 605vh 0px 1px yellow, 82vw 692vh 0px 2px yellow, 57vw 686vh 0px 2px yellow, 71vw 19vh 0px 2px yellow, 49vw 253vh 0px 2px yellow, 42vw 133vh 0px 1px yellow, 29vw 361vh 0px 2px yellow, 46vw 89vh 0px 1px yellow, 58vw 496vh 0px 2px yellow, 32vw 548vh 0px 1px yellow, 51vw 449vh 0px 1px yellow, 32vw 139vh 0px 2px yellow, 98vw 475vh 0px 1px yellow, 98vw 87vh 0px 2px yellow, 11vw 28vh 0px 2px yellow, 56vw 154vh 0px 2px yellow, 76vw 491vh 0px 1px yellow, 80vw 639vh 0px 1px yellow, 28vw 60vh 0px 1px yellow, 25vw 650vh 0px 2px yellow, 72vw 314vh 0px 1px yellow, 6vw 463vh 0px 2px yellow, 46vw 148vh 0px 1px yellow, 99vw 149vh 0px 1px yellow, 83vw 368vh 0px 1px yellow, 17vw 323vh 0px 1px yellow, 63vw 55vh 0px 1px yellow, 19vw 459vh 0px 2px yellow, 49vw 646vh 0px 1px yellow, 50vw 284vh 0px 2px yellow, 21vw 141vh 0px 1px yellow, 74vw 286vh 0px 2px yellow, 18vw 334vh 0px 2px yellow, 96vw 96vh 0px 1px yellow, 26vw 485vh 0px 1px yellow, 9vw 143vh 0px 2px yellow, 28vw 593vh 0px 1px yellow, 37vw 379vh 0px 1px yellow, 63vw 445vh 0px 1px yellow, 84vw 486vh 0px 1px yellow, 55vw 531vh 0px 2px yellow, 78vw 45vh 0px 1px yellow, 92vw 426vh 0px 2px yellow, 44vw 533vh 0px 2px yellow, 17vw 598vh 0px 2px yellow, 15vw 509vh 0px 1px yellow, 13vw 413vh 0px 1px yellow, 36vw 124vh 0px 2px yellow, 42vw 456vh 0px 2px yellow, 90vw 683vh 0px 1px yellow, 35vw 606vh 0px 2px yellow, 78vw 556vh 0px 1px yellow, 70vw 565vh 0px 1px yellow, 92vw 532vh 0px 1px yellow, 97vw 604vh 0px 1px yellow, 48vw 617vh 0px 1px yellow, 54vw 404vh 0px 2px yellow, 95vw 195vh 0px 2px yellow, 78vw 418vh 0px 2px yellow, 39vw 213vh 0px 1px yellow, 66vw 291vh 0px 1px yellow, 45vw 354vh 0px 2px yellow, 58vw 453vh 0px 2px yellow, 76vw 110vh 0px 1px yellow, 54vw 85vh 0px 2px yellow, 70vw 119vh 0px 1px yellow, 12vw 662vh 0px 2px yellow, 51vw 546vh 0px 1px yellow, 4vw 630vh 0px 1px yellow, 59vw 370vh 0px 2px yellow, 84vw 19vh 0px 1px yellow, 77vw 275vh 0px 2px yellow, 88vw 297vh 0px 1px yellow, 57vw 549vh 0px 1px yellow, 35vw 426vh 0px 2px yellow, 87vw 657vh 0px 1px yellow, 18vw 500vh 0px 1px yellow, 23vw 577vh 0px 2px yellow, 71vw 688vh 0px 2px yellow, 84vw 315vh 0px 2px yellow, 79vw 656vh 0px 1px yellow, 34vw 169vh 0px 2px yellow, 60vw 470vh 0px 1px yellow, 52vw 177vh 0px 1px yellow, 43vw 209vh 0px 1px yellow, 81vw 195vh 0px 2px yellow, 66vw 301vh 0px 1px yellow, 6vw 650vh 0px 2px yellow, 19vw 624vh 0px 2px yellow, 12vw 157vh 0px 2px yellow, 55vw 394vh 0px 1px yellow, 42vw 542vh 0px 1px yellow, 74vw 97vh 0px 1px yellow, 10vw 614vh 0px 2px yellow, 33vw 384vh 0px 1px yellow, 54vw 510vh 0px 1px yellow, 59vw 234vh 0px 2px yellow, 37vw 625vh 0px 1px yellow, 73vw 13vh 0px 2px yellow, 82vw 200vh 0px 1px yellow, 96vw 697vh 0px 1px yellow, 6vw 227vh 0px 2px yellow, 68vw 232vh 0px 1px yellow, 40vw 443vh 0px 1px yellow, 54vw 14vh 0px 1px yellow, 75vw 638vh 0px 1px yellow, 58vw 345vh 0px 2px yellow, 91vw 576vh 0px 2px yellow, 85vw 630vh 0px 2px yellow, 93vw 621vh 0px 2px yellow, 13vw 492vh 0px 2px yellow, 45vw 14vh 0px 2px yellow, 24vw 297vh 0px 2px yellow, 22vw 488vh 0px 1px yellow, 61vw 462vh 0px 1px yellow, 71vw 52vh 0px 1px yellow, 18vw 144vh 0px 2px yellow, 39vw 428vh 0px 2px yellow, 49vw 553vh 0px 1px yellow, 92vw 20vh 0px 2px yellow, 86vw 73vh 0px 2px yellow, 51vw 365vh 0px 2px yellow, 52vw 361vh 0px 1px yellow, 30vw 675vh 0px 2px yellow, 42vw 484vh 0px 1px yellow, 89vw 641vh 0px 1px yellow, 61vw 322vh 0px 2px yellow, 79vw 142vh 0px 2px yellow, 83vw 380vh 0px 1px yellow, 95vw 291vh 0px 1px yellow, 18vw 152vh 0px 1px yellow, 50vw 27vh 0px 2px yellow, 46vw 210vh 0px 2px yellow, 86vw 229vh 0px 2px yellow, 62vw 406vh 0px 2px yellow, 8vw 305vh 0px 1px yellow, 58vw 281vh 0px 2px yellow, 61vw 700vh 0px 1px yellow, 75vw 107vh 0px 1px yellow, 92vw 481vh 0px 1px yellow, 7vw 386vh 0px 1px yellow, 59vw 259vh 0px 1px yellow, 92vw 466vh 0px 2px yellow, 12vw 39vh 0px 2px yellow, 80vw 374vh 0px 1px yellow, 65vw 396vh 0px 2px yellow, 6vw 22vh 0px 1px yellow, 37vw 484vh 0px 1px yellow, 52vw 420vh 0px 1px yellow, 13vw 591vh 0px 1px yellow, 55vw 674vh 0px 2px yellow, 11vw 478vh 0px 2px yellow, 63vw 670vh 0px 2px yellow, 46vw 194vh 0px 1px yellow, 87vw 382vh 0px 2px yellow, 78vw 665vh 0px 2px yellow, 45vw 610vh 0px 1px yellow, 71vw 686vh 0px 1px yellow, 85vw 670vh 0px 1px yellow, 43vw 649vh 0px 1px yellow, 15vw 678vh 0px 1px yellow, 10vw 535vh 0px 1px yellow, 88vw 345vh 0px 1px yellow, 50vw 114vh 0px 1px yellow, 53vw 391vh 0px 2px yellow, 30vw 216vh 0px 1px yellow, 98vw 43vh 0px 2px yellow, 81vw 190vh 0px 2px yellow, 59vw 355vh 0px 1px yellow, 45vw 284vh 0px 2px yellow, 53vw 63vh 0px 1px yellow, 1vw 456vh 0px 1px yellow, 20vw 590vh 0px 2px yellow, 63vw 414vh 0px 1px yellow, 43vw 157vh 0px 2px yellow, 44vw 584vh 0px 1px yellow, 60vw 413vh 0px 2px yellow, 23vw 68vh 0px 2px yellow, 13vw 417vh 0px 2px yellow, 10vw 460vh 0px 2px yellow, 68vw 446vh 0px 2px yellow, 1vw 118vh 0px 1px yellow, 16vw 320vh 0px 2px yellow, 82vw 111vh 0px 1px yellow, 51vw 604vh 0px 2px yellow, 93vw 508vh 0px 1px yellow, 21vw 572vh 0px 1px yellow, 5vw 479vh 0px 2px yellow, 70vw 411vh 0px 2px yellow, 12vw 245vh 0px 2px yellow, 52vw 689vh 0px 1px yellow, 35vw 340vh 0px 2px yellow, 51vw 371vh 0px 2px yellow, 49vw 70vh 0px 2px yellow, 94vw 249vh 0px 2px yellow, 35vw 281vh 0px 2px yellow, 52vw 465vh 0px 1px yellow, 25vw 332vh 0px 2px yellow, 97vw 269vh 0px 1px yellow, 25vw 151vh 0px 1px yellow, 95vw 89vh 0px 2px yellow, 13vw 674vh 0px 2px yellow, 22vw 573vh 0px 1px yellow, 59vw 282vh 0px 2px yellow, 83vw 670vh 0px 2px yellow, 34vw 655vh 0px 1px yellow, 5vw 353vh 0px 2px yellow, 44vw 163vh 0px 2px yellow, 7vw 217vh 0px 1px yellow, 17vw 638vh 0px 2px yellow, 91vw 109vh 0px 1px yellow, 69vw 53vh 0px 1px yellow, 6vw 42vh 0px 2px yellow, 25vw 696vh 0px 1px yellow, 89vw 221vh 0px 1px yellow, 46vw 636vh 0px 1px yellow, 87vw 20vh 0px 1px yellow, 28vw 135vh 0px 1px yellow, 38vw 216vh 0px 2px yellow, 78vw 678vh 0px 1px yellow, 99vw 166vh 0px 1px yellow, 96vw 593vh 0px 2px yellow, 32vw 37vh 0px 2px yellow, 47vw 343vh 0px 1px yellow, 22vw 459vh 0px 2px yellow, 25vw 383vh 0px 2px yellow, 97vw 70vh 0px 2px yellow, 34vw 165vh 0px 1px yellow, 20vw 203vh 0px 1px yellow, 79vw 600vh 0px 1px yellow, 61vw 367vh 0px 1px yellow, 79vw 184vh 0px 2px yellow, 63vw 513vh 0px 2px yellow, 89vw 558vh 0px 1px yellow, 71vw 344vh 0px 1px yellow, 16vw 390vh 0px 1px yellow, 79vw 350vh 0px 2px yellow, 69vw 550vh 0px 1px yellow, 3vw 401vh 0px 2px yellow, 86vw 227vh 0px 1px yellow, 84vw 4vh 0px 1px yellow, 68vw 230vh 0px 2px yellow, 18vw 60vh 0px 1px yellow, 37vw 478vh 0px 2px yellow, 26vw 113vh 0px 1px yellow, 85vw 66vh 0px 2px yellow, 27vw 422vh 0px 1px yellow, 97vw 594vh 0px 2px yellow, 34vw 19vh 0px 2px yellow, 10vw 580vh 0px 1px yellow, 44vw 218vh 0px 1px yellow, 38vw 323vh 0px 1px yellow, 69vw 570vh 0px 2px yellow, 91vw 390vh 0px 1px yellow, 99vw 117vh 0px 1px yellow, 60vw 616vh 0px 2px yellow, 53vw 237vh 0px 2px yellow, 72vw 399vh 0px 1px yellow, 62vw 37vh 0px 1px yellow, 75vw 624vh 0px 1px yellow, 5vw 188vh 0px 2px yellow, 10vw 544vh 0px 2px yellow, 20vw 320vh 0px 1px yellow, 47vw 264vh 0px 1px yellow, 62vw 123vh 0px 2px yellow, 35vw 356vh 0px 1px yellow, 46vw 481vh 0px 1px yellow, 80vw 543vh 0px 1px yellow, 83vw 438vh 0px 1px yellow, 13vw 52vh 0px 2px yellow, 75vw 321vh 0px 1px yellow, 82vw 466vh 0px 1px yellow, 89vw 507vh 0px 2px yellow, 91vw 76vh 0px 2px yellow, 4vw 86vh 0px 2px yellow, 36vw 288vh 0px 2px yellow, 21vw 622vh 0px 1px yellow, 57vw 186vh 0px 2px yellow, 46vw 377vh 0px 1px yellow;
}

@keyframes twinkle {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
main {
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-red);
}

article section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem 0;
  color: var(--color-light);
  text-align: center;
}
header h2 {
  max-width: 30ch;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: inline-flex;
  background-color: var(--color-background);
}
nav ul {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-link);
  font-size: 1.25rem;
  text-decoration: none;
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 1;
}
nav ul li {
  margin: 0.25rem;
}

#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  color: var(--color-blue);
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.7em 0.7em;
  border-radius: 0.2em;
  background-color: var(--color-blue);
  color: var(--color-background);
}

#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-light), var(--color-purple));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }
}
#guidelines .container > a {
  align-self: center;
}

#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}
#files h3 {
  height: 0;
  opacity: 0;
}
#files .container {
  display: inline-block;
  padding: 5vmin;
  outline: 4px dashed var(--color-green);
  text-align: center;
}
#files .container a:not(:last-child) {
  margin: 0.5rem;
}
#files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
#files a {
  color: var(--color-green);
}

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
}
.features li {
  display: grid;
  position: relative;
  place-content: center;
  min-height: 12rem;
  padding: 1rem;
  color: var(--color-light);
  text-align: center;
}
.features li > span {
  display: grid;
  place-content: center;
  padding: 0.5em;
  grid-gap: 0.5rem;
  border: 1px solid var(--color-light);
  background-color: var(--color-purple);
  line-height: 1.1;
}
.features li > span a {
  color: inherit;
  font-size: 1.3rem;
  font-weight: var(--font-weight-strong);
  text-decoration: none;
}
.features li > span a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.features li > span span:nth-child(2) {
  position: relative;
}

#styles {
  margin: 5vh 0 20vh;
  text-align: center;
}
#styles h2 {
  color: var(--color-light);
}

#styles .features li,
.features.patterned li {
  border: solid 2px var(--color-purple);
}
@media (min-width: 515px) and (max-width: 765px) {
  #styles .features li:nth-last-child(1):nth-child(odd),
  .features.patterned li:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  z-index: 1;
  color: var(--color-light);
}
.profile h4 {
  margin: 0;
  color: var(--color-light);
  text-align: center;
}
.profile a:hover:not(.profile span a),
.profile a:focus:not(.profile span a) {
  box-shadow: 0.3em 0.3em var(--color-blue);
}
.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.profile .container > a {
  min-height: 2em;
  border: 2px solid currentColor;
  color: var(--color-blue);
}
.profile .container a {
  color: var(--color-blue);
}
.profile ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile ul li {
  display: flex;
  padding: 0.45em;
}
.profile ul li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.profile ul li span:nth-child(2) {
  flex-grow: 1;
  word-break: break-word;
}
@media (min-width: 180ch) {
  .profile {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: var(--border-radius);
    border: solid 2px var(--color-blue);
    background-color: var(--color-background);
    box-shadow: 0 2px 5px rgba(255, 255, 0, 0.15);
  }
  .profile ul {
    justify-content: unset;
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul li span:nth-child(1) {
    width: 8ch;
    margin-right: 0;
  }
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background: linear-gradient(var(--color-background), var(--color-gray), var(--color-background));
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer a {
  color: var(--color-link);
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
[class^=link]:not(.link-codepen):hover, [class^=link]:not(.link-codepen):focus,
.profile .container > a:hover,
.profile .container > a:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-link);
}
[class^=link]:not(.link-codepen):focus,
.profile .container > a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: var(--font-size-h4);
}

.link-allstyles {
  font-size: var(--font-size-h4);
  color: var(--color-purple);
}
.link-allstyles:hover, .link-allstyles:focus {
  box-shadow: 0.3em 0.3em var(--color-purple) !important;
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

#about section:first-of-type {
  color: var(--color-light);
}
#about section:first-of-type blockquote {
  color: var(--color-light);
}
#about section:first-of-type h2 {
  color: var(--color-background);
}
#about section:first-of-type a {
  color: var(--color-green);
}

#about section:nth-of-type(2) {
  color: var(--color-light);
}
#about section:nth-of-type(2) a {
  color: var(--color-blue);
}

#guidelines {
  color: var(--color-light);
}
#guidelines a {
  color: var(--color-purple);
}

#contribute {
  color: var(--color-light);
}
#contribute a {
  color: var(--color-red);
}

#files a {
  color: var(--color-green);
}

#files a:hover:not(.link-codepen),
#files a:focus:not(.link-codepen) {
  box-shadow: 0.3em 0.3em var(--color-green);
}

/*# sourceMappingURL=style.css.map */
